/** scroller **/
/* Track */
::-webkit-scrollbar-track {
    background: #d7d4d4;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #2f2d2d;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8e1c1c;
}
/* Width */
::-webkit-scrollbar {
    width: 7px;
}