/** scroller **/
/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #adaaaa;
    border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #898888;
}
/* Width */
::-webkit-scrollbar {
    width: 7px;
    height: 12px;
}